<main class="home-page">
  <h1>Calculate Market & Auction Values</h1>
  <app-nav />
  <section class="home-page__container">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <mat-form-field class="home-page__control">
        <mat-label>Select model id:</mat-label>
        <mat-select formControlName="modelId">
          <mat-option *ngFor="let option of this.modelIdOptions" value="{{ option.value }}">{{ option.label }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="home-page__control">
        <mat-label>Select model year:</mat-label>
        <mat-select formControlName="year">
          <mat-option *ngFor="let option of this.yearOptions" value="{{ option.value }}">{{ option.label }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="this.form.contains('other')">
        <mat-form-field class="home-page__control" >
          <mat-label>Select model year:</mat-label>
          <input
            matInput
            formControlName="other"
            type="number"
            required
          >
          <mat-error *ngIf="other?.errors" >{{ 'The number must be between' +  this.yearLimits.min + ' and ' + this.yearLimits.max + '.' }}</mat-error>
        </mat-form-field>
      </div>
      <button type="submit" mat-flat-button color="primary" class="home-page__control" [disabled]="this.form.invalid">Calculate</button>
    </form>
  </section>
  <section *ngIf="this.calculatedValues !== null" class="home-page__container">
    <div>Market Value: <strong>{{ this.toDollars(this.calculatedValues?.marketValue)}}</strong></div>
    <div>Auction Value: <strong>{{ this.toDollars(this.calculatedValues?.auctionValue) }}</strong></div>
  </section>
</main>
